<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./shared/header.ejs')%>
</head>

<body>
    <p class="notFound-heading">404</p>
    <p class="notFound-text">Sorry, the page you are looking for is not found.</p>
    <a class="btn btn-success notFound-btn" href="/">Go Home</a>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>