<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../shared/header.ejs')%>
</head>

<body>
    <%- include('../shared/navbar.ejs')%>

    <div class="container-fluid home-container">
        <div class="row">
            <div class="col-0 col-md-1"></div>
            <div class="col-12 col-md-5">

                <h1 class="home-heading"> Hi! I'm Uttiya Ghosh</h1>

                <p class="home-about">
                    With over 5 years of Java backend development experience, I am adept at planning, documentation, 
                    and creating web solutions for a global user base. Recently venturing into full-stack development, 
                    I am expanding my skills to encompass the entire development spectrum. Eager to contribute my 
                    well-rounded expertise to your organization as a backend developer, I am committed to bridging the 
                    gap between front-end and back-end technologies. My journey into full-stack development reflects my 
                    dedication to continuous learning and adapting to industry trends, ensuring a versatile skill set to 
                    address the evolving needs of your projects.
                </p>

                <p class="d-flex justify-content-between icon-para">
                    <a href="https://www.linkedin.com/in/uttiyaghosh/" target="_blank"
                        rel="noopener noreferrer">
                        <i class="fab fa-linkedin fa-2x icon-linkedIn"></i>
                    </a>
                    <a href="https://github.com/UttiyaGhosh" target="_blank"
                        rel="noopener noreferrer">
                        <i class="fab fa-github fa-2x icon-github"></i>
                    </a>
                    <a href="mailto:your-email@gmail.com" target="_blank"
                        rel="noopener noreferrer">
                        <i class="far fa-envelope fa-2x icon-gmail"></i>
                    </a>
                    <a href="https://scholar.google.com/citations?hl=en&user=mCVJVOUAAAAJ" target="_blank"
                        rel="noopener noreferrer">
                        <img class= "icon-google-scholar" src="/images/googleScholarIcon.png" alt="Google Scholar">
                    </a>
                </p>
            </div>
            <div class="col-0 col-md-1"></div>
            <div class="col-0 col-md-4">
                <img class="anime-img" src="/images/anime.jpeg" />
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>